@font-face{
    font-family: "AnnieUseYourTelescope";
    src: url(../fonts/AnnieUseYourTelescope.ttf);
}
body{
    background-attachment: fixed;
    background-image: url(../images/wallpaper.png);
    background-repeat: no-repeat;
}
#top iframe{
    border-color: #bddfeb;
    border-radius: 20px 20px 0px 0px;
    border-style: outset;
    display: block;
    height: 360px;
    margin: 0 auto;
    width: 640px;
}
#top marquee{
    color: #ffff99;
    font-family: "AnnieUseYourTelescope";
    font-size: 64px;
    font-weight: bold;
}
#middle{
    background: radial-gradient(#ffffff, #add8e6);
    border-color: #bddfeb;
    border-radius: 0px 0px 20px 20px;
    border-style: outset;
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 50%;
}
#middle p{
    color: #000000;
    font-family: "Arial";
    font-size: 18px;
}
#middle ul{
    list-style-type: square;
}
#middle ul li{
    color: #000000;
    font-family: "Arial";
    font-size: 18px;
}
#bottom{
    text-align: center;
}
#bottom li{
    background-color: #d3d3d3;
    border-radius: 50px;
    float: left;
}
#bottom li a{
    border-radius: 50px;
    display: block;
    padding: 16px 16px;
    text-decoration: none;
    transition: .4s;
}
#bottom li a:hover{
    background-color: #d5fdd5;
}
#bottom ul{
    display: inline-block;
    list-style-type: none;
}